
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 cod-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    <strong>@item.ten</strong>
                </div>
                <div class=" panel-body">
                    <p><strong>Loại: </strong>@item.maloai</p>
                    <p><strong>Mô tả: </strong>@item.mota</p>
                    <p><strong>Hãng: </strong>@item.hang</p>
                    <p><strong>Gía: </strong>@item.gia</p>
                    <p><img src="@item.hinh" alt="hinh thumnail"></p>
                    <p><strong> Còn lại: </strong>@item.soluongton</p>
                    <p><strong> Ngày cập nhập: </strong>@item.ngaycapnhat</p>
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        @Html.ActionLink("Read more...", "Dtail", new { id = item.id }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-success" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>

